---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Astro Tanstack Table Vanilla">
  
  <h1 class="mt-5">Astro Tanstack Table Vanilla</h1>
  <p class="lead">Uses Tanstack Table Core with Nanostores for state management.</p>

  <div id="table-wrapper" class="mt-5"></div>

</Layout>

<script>
  import {
    createColumnHelper,
    getCoreRowModel,
    getPaginationRowModel,
  } from '@tanstack/table-core'
  import { useTable, renderTable } from '@/lib/table'
  import { makeData, type Person } from '@/lib/makeData'

  const people = makeData(10000)

  const columnHelper = createColumnHelper<Person>()

  const columns = [
    columnHelper.accessor('firstName', {
      cell: (props) => props.getValue(),
    }),
    columnHelper.accessor('lastName', {
      header: '<span>Last Name</span>',
      cell: (props) => props.getValue(),
    }),
    columnHelper.accessor('age', {
      header: 'Age',
    }),
    columnHelper.accessor('visits', {
      header: '<span>Visits</span>',
    }),
    columnHelper.accessor('status', {
      header: 'Status',
    }),
    {
      accessorKey: 'progress',
      header: 'Profile Progress',
    },
  ]

  const table = useTable<Person>({
    data: people,
    columns,
    getCoreRowModel: getCoreRowModel(),
    getPaginationRowModel: getPaginationRowModel(),
    initialState: {
      pagination: {
        pageSize: 5,
      },
    },
    onStateChange: () => {},
    renderFallbackValue: undefined,
  })

  renderTable('table-wrapper', table)

</script>
